* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #555;
  font-size: 18px;
  font-family: "Roboto", serif;
  font-weight: 400;
}
:root {
  --heading_color: #36041c;
}
/* ==========================================
header section start
============================================= */

/* top header---------------------- */
header .topHeader_left_content a {
  text-decoration: none;
  color: #fff;
}
header .top_header_area {
  background-color: #0f0130;
}
header .topHeader_left_content p {
  font-size: 14px;
}
header .topHeader_right_content ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
header .topHeader_right_content ul li a i {
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin: 0 0.2rem;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
}
header .topHeader_right_content ul li .highlited_menu {
  background: #ffffff;
  color: #5a042d !important;
  padding: 4px 8px !important;
}

/* Main Header ------------------------------- */
header .navbar-nav .nav-item {
  position: relative;
  transition: all 0.3s ease;
}
header .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  display: block;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

header .navbar-nav .nav-item:hover::after {
  width: 100%;
}
header .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.1rem;
}

header .dropdown-menu {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

header .main_header ul li a {
  font-size: 16px;
  font-weight: 600;
}
header .sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
/* header section end */

/* ==========================================
Main section start
============================================= */

/* ----------------hero section----------------- */
main .hero_section {
  position: relative;
}
main .topWave_img {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0%;
  z-index: 10;
}

/* -----------------About us section-------------------- */
main .about_us {
  background-color: #e7e7e7;
  padding-top: 70px;
  padding-bottom: 50px;
}
main .about_us h2 {
  color: var(--heading_color);
  font-weight: 700;
}
main .about_us p {
  line-height: 25px;
  margin-bottom: 0px;
}
main .about_us .default_btn {
  background-color: #660433;
  color: #f0aa5b;
  font-size: 15px;
  padding: 12px 25px;
  margin-top: 15px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border: 1px solid #5c0931;
  z-index: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
main .about_us img {
  box-shadow: 0 2px 15px rgb(0 0 0 / 49%);
  border-radius: 8px;
  margin-bottom: 20px;
}

/* ----------------Course section-------------------- */
main .courses_section {
  padding: 50px 0;
}
main .courses_section h2 {
  color: var(--heading_color);
  font-weight: 700;
  margin-bottom: 40px;
}
main .courses_section .card {
  background-color: #edeef0;
}
main .courses_section .card-title {
  font-size: 18px;
  line-height: 1.3rem;
  margin-bottom: 0px;
  min-height: 50px;
  color: #828486;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

/* Message from chairman section start------------------------ */
main .message_from_chairman {
  padding: 100px 0;
  background-image: url(../images/message_from_chairman_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
main .message_from_chairman::before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
main .message_from_chairman .single_card {
  text-align: center;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
main .message_from_chairman .single_card img {
  border-radius: 50%;
  border: 10px solid #fab86d;
}
main .message_from_chairman .single_card .card {
  background: rgba(0, 0, 0, 0.5);
}
main .message_from_chairman .card-title {
  font-size: 20px;
  color: #fff;
}
main .message_from_chairman .card-text {
  font-size: 15px;
  color: #fff;
}
main .message_from_chairman .btn_special{
  display: flex;
  justify-content: space-between;
  color: #555555;
}
main .message_from_chairman .btn_special a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 10px;
}

/* News section start--------------------------- */
main .news_section{
  padding-top: 100px;
  padding-bottom: 70px;
}
main .news_section .card-title a{
  font-size: 20px;
  font-weight: 700;
  color: var(--heading_color);
}
main .news_section .card-text{
  font-size: 16px;
  font-weight: 400;
  color: #2c2c2c;
}
main .news_section .card-text a{
  color: #2c2c2c;
}

/* Main section end */


/* ========================Footer Section Start======================= */
footer .top_footer{
  background-color: #7E184E;
  color: #fff;
}
footer .top_footer ul li{
  list-style: none;
}
footer .top_footer ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
footer .top_footer ul li a:hover{
  color: #f0aa5b;
}


footer .bottom_footer{
  background-color: #82195E;
  color: #fff;
}
footer .bottomFooter_left_content ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
footer .bottomFooter_left_content ul li a i {
  width: 30px;
  height: 30px;
  font-size: 16px;
  margin: 0 0.2rem;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
}